.b-autocomplete
  width: 450px
  position: relative
  &__field
    display: flex
    border: 1px solid #c5c5c5
    border-radius: 3px
    box-shadow: 0 0 8px 0 rgba(#c5c5c5, 0.4)
    position: relative
  &__input
    height: 40px
    padding: 0 15px
    flex-grow: 1
    font-size: 16px
    color: #595959
  &__btn-clear
    flex-shrink: 0
    width: 40px
    position: relative
    box-shadow: 0 0 8px 0 rgba(#c5c5c5, 0.4)
    opacity: .7
    transition: opacity ease-out .2s
    &:hover
      opacity: 1
    &:before
      display: block
      position: absolute
      content: ''
      width: 2px
      height: 14px
      background-color: #595959
      left: 50%
      top: 50%
      transform: translate(-50%, -50%) rotate(45deg)
    &:after
      display: block
      position: absolute
      content: ''
      width: 14px
      height: 2px
      background-color: #595959
      left: 50%
      top: 50%
      transform: translate(-50%, -50%) rotate(45deg)
  &__results
    position: absolute
    top: 42px
    left: 0
    max-height: 300px
    width: 100%
    border-radius: 3px
    box-shadow: 0 2px 8px 0 rgba(#c5c5c5, 0.7)
    overflow-y: auto
    &-item
      display: flex
      padding: 10px
      min-height: 60px
      transition: background .15s ease-out
      position: relative
      cursor: pointer
      &:hover
        background: #ececec
      &:not(:last-child)
        &:after
          display: block
          content: ''
          position: absolute
          bottom: 0
          width: calc(100% - 20px)
          height: 1px
          background-color: #ececec
  &__img-outer
    flex-shrink: 0
    margin-right: 15px
    width: 40px
    img
      width: 100%
  &__name
    display: flex
    align-items: center
    font-size: 16px
    flex-grow: 1
    color: #000
    a
      display: block
      text-decoration: none
      color: #000
  &__loader
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 4px
    border: 1px solid #afafaf
    border-radius: 3px
    background-image:
      repeating-linear-gradient(
        -45deg,
        #afafaf,
        #afafaf 11px,
        #fff 10px,
        #fff 20px
      )
    background-size: 28px 28px
    animation: move .5s linear infinite

  @keyframes move
    0%
      background-position: 0 0

    100%
      background-position: 28px 0
