<div class="b-autocomplete" toggle-dropdown is-visible="$ctrl.isVisible">
  <div class="b-autocomplete__field">
    <input type="text" class="b-autocomplete__input"
           placeholder="{{$ctrl.placeholder}}"
           ng-change="$ctrl.onChange()"
           ng-model="$ctrl.model">
    <button type="button" class="b-autocomplete__btn-clear"
            ng-if="$ctrl.model.length"
            ng-click="$ctrl.resetData()"></button>
    <div class="b-autocomplete__loader" ng-if="$ctrl.isLoading"></div>
  </div>
  <ul class="b-autocomplete__results" ng-if="$ctrl.model.length && $ctrl.isVisible && $ctrl.data.length">
    <li class="b-autocomplete__results-item" ng-repeat="item in $ctrl.data track by $index"
        ng-click="$ctrl.selectItem(item)">
      <div class="b-autocomplete__img-outer" ng-bind-html="item.image_code | unsafe"></div>
      <div class="b-autocomplete__name" ng-bind-html="item.link_code | unsafe"></div>
    </li>
  </ul>
</div>
